<footer class="footer">
  <div class="footer-links-container">
		<img src="../../assets/external/logos/footer-logo.png" alt="Logo" class="footer-logo">
      <div class="footer-links">
        <a href="/home">HOME</a>
        <a href="">ABOUT</a>
        <a href="/data-catalogue">DATA</a>
        <a href="{{gene_list_url}}">GENE LIST</a>
        <a href="/home#faq">FAQ</a>
        <a href="">CONTACT US</a>
      </div>
  </div>
  <div class="sentances">
	  <p class="footer-text">Molecular Phenotypes of Null Alleles in Cells</p>
	  <div class="right-content">
	    <p class="footer-credit">Photo by Sangharsh Lohakare on Unsplash.</p>
	    <p class="footer-copy">&copy; 2023 MorPhic. All rights reserved.</p>
	  </div>
	</div>
</footer>