.footer {
  width: 100%;
  height: 160px;
  background: var(--dl-color-default-smartwhite);
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.footer-links-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.footer-links a {
    text-decoration: none;
    color: var(--dl-color-default-smartblack);
    margin: 0 15px;
    font-size: 16px;
    font-weight: 700;
}

.footer-logo {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.footer-text,
.footer-credit,
.footer-copy {
  color: var(--dl-color-default-smartblack);
  font-size: 14px;
}

.footer-credit {
  opacity: 0.3;
}

.left-aligned {
  text-align: left;
  margin-left: 30px;
}

.right-aligned {
  text-align: right;
  margin-right: 30px;
}

.sentances {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 25px;
}

.footer-text {
  /* Aligns this <p> to the left */
  margin: 0;
  order: 1;
}

.right-content {
  /* Stack the right corner sentences */
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Align text to the right */
  order: 2;
}

.footer-credit,
.footer-copy {
  margin: 0;
}

.footer-credit {
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .footer-links {
    flex-direction: column;
  }

  .footer-links a {
    margin: 10px 0;
  }
}