/* --- CONTACT US PAGE --- */
.triangle {
  clip-path: polygon(-5% 105%, 105% 105%, 105% -5%);
  background-color: var(--dl-color-default-smartwhite);
  width: 100%;
  height: 110px;
}

.contact {}

.contact-container {
  background-color: var(--dl-color-default-smartwhite);
}

.contact-info-container {
  display: flex;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;

  background-image: url("../images/logos/logo-120deg.svg");
  background-position-y: top 3%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 373px;
}

.contact-info h1 {
  width: 684px;

  font-family: Inter;
  font-size: 62px;
  font-weight: 600;
  line-height: 62px;
  letter-spacing: -0.04em;

  margin-bottom: 0;
}

.contact-section {
  width: 684px;
}

.contact-section a {
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 20.57px;
  letter-spacing: -0.03em;
  text-align: right;

  color: var(--dl-color-brand-blue);
}

.contact-section p, .contact-section p a {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;

  padding: 0.5rem 0;
}

.contact-card-row {
  display: flex;
  gap: 1rem;
}

.contact-card {
  width: 327px;
  background-color: rgba(235, 242, 243, 0.5);

  display: flex;
  flex-direction: column;
}

.contact-card-body,
.contact-card-footer {
  padding: 1rem;
}

.contact-card-footer {
  margin-top: auto;
}

/* for every child of */
.contact-info-bg {
  background-image: url("../images/logos/logo-120deg.svg");
  background-position-y: top 3%;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 473px;
}

.contact-card-body > *,
.contact-card-footer > *,
.contact-card-body h2,
.contact-card-body p,
.contact-card-footer a {
  margin: 1rem 0;
  padding: 0;
  display: inline-block;
}

.contact-card-body > :last-child {
  margin-bottom: 0;
}

.contact-card-body h2 {
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
}

.contact-card-body p {
  /* styleName: Body; */
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.04em;
  text-align: left;
}

.contact-card-footer a {
  color: var(--dl-color-default-orange);
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

/* TODO: Add media queries */
@media (width <= 500px) {
  .contact-info-container {
    padding: 0 20px;
  }
  .contact-info h1 {
    width:auto;
  }
  
  .contact-section {
    width: auto;
  }

  .contact-card-row {
    flex-direction: column;
  }

  .contact-card {
    width: auto;
  }

  .contact-info-bg {
    background-image: url("../images/logos/logo-120deg.svg");
    background-position-y: top 3%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}