
/* --- POLICIES PAGE --- */
.policies {
    background-image: linear-gradient(#000000B2, #00000000),
                      url("../images/external/sangharshlohakare8olkmpo8ugunsplash11571-51ur-800h.png");
    background-size: 100% auto;
  }
  
  .policies-container {
    background-color: var(--dl-color-default-smartwhite);
    color: var(--dl-color-default-smartblack);
  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .policies-triangle {
    clip-path: polygon(-5% 105%, 105% 105%, 105% -5%);
      background-color: var(--dl-color-default-smartwhite);
      width: 100%;
      height: 110px;
  }
  
  .policies-content-container {
    background-color: var(--dl-color-default-smartwhite);
    
    display: flex;
    justify-content: center;
  
    width: 1380px;
    min-height: 510px;
  
    background-image: url("../images/logos/logo-120deg.svg");
    background-position-y: top;
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .policies-content {
    display: flex;
    gap: 60px;
  }

  .policies-menu-container {}
  
  .policies-card {
    background-color: #F5F5F5;
    width: 326px;
    /* min-height: 290px; */
    border-radius: 8px;
  
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  
    padding: 20px;
  }
  
  .policies-card-title {
    text-transform: uppercase;
  
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 12.1px;
    letter-spacing: 0.1em;
    text-align: left;
  
    color: rgba(153, 153, 153, 1);
  }
  
  .policies-card ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  
    /* min-height: 300px; */
  }
  
  .policies-card li {
    margin: 1rem 0;
    display: block;
  }
  
  .policies-card a {
    text-decoration: none;
    
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.57px;
    letter-spacing: -0.03em;
    text-align: left;
  
    color: rgba(4, 152, 158, 1);
  }
  
  .policies-info {
    width: 637px;
  }
  
  .policies-info h1 {
    font-family: Inter;
    font-size: 62px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  
  .policies-info ul {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  
  .policies-info h2 {
    font-family: Inter;
    font-size: 17px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  
  .policies-info p {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: left;
  }
  
  .policies-info a {
    color: var(--dl-color-brand-orange);
  }
  
  .policies-info h1,
  .policies-info h2,
  .policies-info h3,
  .policies-info h4,
  .policies-info h5,
  .policies-info h6,
  .policies-info p {
    margin: 0;
  }

  .policies-info h1,
  .policies-info h2,
  .policies-info h3,
  .policies-info h4,
  .policies-info h5,
  .policies-info h6,
  .policies-info p {
    margin: 0 0 1em 0;
  }

  .policies-info h1,
  .policies-info h2,
  .policies-info h3,
  .policies-info h4,
  .policies-info h5,
  .policies-info h6 {
    margin-top: 2em;
  }

  .policies-info h1:first-child {
    margin-top: 1em;
  }
  
  .policies-info ul {
    list-style-type: disc;
    margin-left: 1.5em;
  }
  
  .policies-info ul ul {
    list-style-type: circle;
  }

  .policies-info .title-xl {
    font-family: Inter;
    font-size: 62px;
    font-weight: 600;
    line-height: 62px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policies-info .title-l {
    font-family: Inter;
    font-size: 40px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
  }

  .policies-info .title-m {
    font-family: Inter;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policies-info .title-s {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .policies-info .title-xs {
    font-family: Inter;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.57px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;    
  }

  .policies-info .text-body {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.04em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  blockquote {
    margin-top: 0;
    margin-bottom: 2em;
  }

  .policies-info p:has(+blockquote) {
    padding-bottom: 0;
  }

  @media (width < 1440px) {
    .policies-content-container {
      width: calc((1380 / 1440) * 100vw);
    }
  }
  
  @media (width <= 1253px) {
    .policies-card {
      width: auto;
    }
  }
  
  @media (width <= 920px) {
    .policies-content {
      flex-wrap: wrap;
      gap: 30px;
    }

    .policies-menu-container {
    }

    .policies-info h1:first-child {
      margin-top: 0;
    }
  }
  
  @media (width <= 768px) {
    .policies-info h1:first-child {
      margin-top: 1em;
    }

    .policies-info {
      width: calc(100vw - 2.5rem);
    }
  }
  
  @media (width <= 576px) {
    .policies-content {
      gap: 0;
    }

    .policies-info {
      width: calc(100vw - 2.5rem);
    }
  }