.carousel-container {
  position: relative;
  text-align: center;
}

img {
  height: 3rem;
}

.dots {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: var(--dl-color-dot-inactive);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.dot-active {
  background-color: var(--dl-color-brand-blue);
}

.header-text {
  color: var(--dl-color-gray-700);
  text-align: center;
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.225rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

.home-button {
  margin-left: 4.8rem;
  display: inline-flex;
  padding: 0.4375rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background-color: var(--dl-color-default-orange);
  border: none;
  a {
    text-decoration: none;
  }
}
.adjust-left {
  margin-left: 4.1rem;
}

.home-text041 {
  color: var(--dl-color-default-smartwhite);
  height: auto;
  font-size: 15px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.adjust-height {
  margin-top: 1.25rem;
  margin-right: 3rem;
}

.logo-title {
  color: var(--dl-color-default-smartblack);
  text-align: center;
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.75rem;
}