<form>
  <mat-form-field class="example-chip-list" *ngIf="facet">
    <mat-label>{{StringUtilsService.snakeCaseToTitle(facet.title)}}</mat-label>
    <mat-chip-grid #chipGrid aria-label="Filter selection">
      <mat-chip-row *ngFor="let selectedFilter of selectedFilters" (removed)="remove(selectedFilter)">
        {{selectedFilter}}
        <button matChipRemove [attr.aria-label]="'remove ' + selectedFilter">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip-row>
    </mat-chip-grid>
    <input placeholder="filter..." #filterInput [formControl]="facetControl"
           [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           (matChipInputTokenEnd)="add($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="toggleSelected($event)">
      <mat-option *ngFor="let filteredFacet of filteredFacets | async" [value]="filteredFacet">
        <mat-checkbox class="facet-field-checkbox" [checked]="isFacetValueSelected(filteredFacet)"></mat-checkbox>
        {{filteredFacet}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
