<app-header></app-header>
<div class="div sticky" id="top">
  <div class="white-triangle"></div>
  <div class="div-13">
    <div class="div-14">About</div>
    <div class="div-15 logo">
      <div class="div-16">
        <div class="column">
          <div class="div-17">
            A programme to better understand the function of every human
            gene and generate a catalogue of the molecular and cellular
            consequences of inactivating genes.
          </div>
        </div>
        <div class="column-2">
          <div class="div-18">
            <div class="div-19">inside this page</div>
            <div class="div-20">
              <a href="/about#about" (click)="scrollTo('about')">
                ↓ The MorPhiC programme
              </a>
            </div>
            <div class="div-21">
              <a href="/about#pubs" (click)="scrollTo('pubs')">
                ↓ Publications
              </a>
            </div>
            <div class="div-22">
              <a href="/home#faq" (click)="scrollTo('faq')">
                ↓ What is null allele?
              </a>
            </div>
            <div class="div-23">↓ Experiment design for the studies</div>
            <div class="div-24">
              <a href="/about#data-flow" (click)="scrollTo('data-flow')">
                ↓ Data flow and availability
              </a>
            </div>
            <div class="div-25">↓ Collaborators</div>
            <div class="div-26">
              <a href="/about#funders" (click)="scrollTo('funders')">
                ↓ Funders
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-27" id="about">
      <div class="div-28">About the MorPhiC Program</div>
      <div class="div-29">
        <a href="/about#top" (click)="scrollTo('funders')">
          ↑ Back to top
        </a>
      </div>
    </div>
    <div class="div-30">
      The MorPhiC programme aims to develop a consistent catalog of
      molecular and cellular phenotypes for null alleles for every human
      gene by using in-vitro multicellular systems. The catalog will be made
      available for broad use by the biomedical community. MorPhiC has three
      components: the Data Production Research and Development Centers
      (DPCs), the Data Analysis and Validation Centers (DAVs) and the Data
      Resource and Administrative Coordinating Center (DRACC).
    </div>
    <div class="div-31" id="pubs">
      <div class="div-32">Publications</div>
      <div class="div-33">
        <a href="/about#top" (click)="scrollTo('funders')">
          ↑ Back to top
        </a>
      </div>
    </div>
    <div class="div-34">
      <div class="div-35">
        Description statement for the MorPhiC programme
      </div>
      <div class="div-36">Link to paper</div>
    </div>
    <div class="div-37" id="data-flow">
      <div class="div-38">Data flow and availability</div>
      <div class="div-39">
        <a href="/about#top" (click)="scrollTo('funders')">
          ↑ Back to top
        </a>
      </div>
    </div>
    <div class="data-flow-container">
      <section class="organisation">
        <h2>The MorPhic organisation</h2>
        <div class="categories">
          <div class="category">
            <h3>
              <span>Working Groups</span>
            </h3>
            <div class="items vectors-container">
              <div class="item item-bg-1 shadow">
                <img src="../../assets/external/logos/vector-e.png">
                <p class="label">EXPERIMENTAL</p>
              </div>
              <div class="item item-bg-2 shadow">
                <img src="../../assets/external/logos/vector-d.png">
                <p class="label">DATA</p>
              </div>
              <div class="item item-bg-3 shadow">
                <img src="../../assets/external/logos/vector-p.png">
                <p class="label">POLICY & OUTREACH</p>
              </div>
              <div class="item item-bg-1 item-4 shadow">
                <img src="../../assets/external/logos/vector-a.png">
                <p class="label">ANALYSIS</p>
              </div>
            </div>
          </div>
          <div class="category">
            <h3>
              <span>Data Production Centres</span>
            </h3>
            <div class="items white-box sticky" >
              <div class="logo-item">
                <img src="../../assets/external/logos/MSK.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Northwestern-no-border.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Jackson.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Stanford.png">
              </div>
              <div class="small-white-triangle sticky-triangle"></div>
            </div>
          </div>
          <div class="category">
            <h3>
              <span>Data Resource, Admin and Coordinating centres</span>
            </h3>
            <div class="items white-box sticky">
              <div class="logo-item zero-left">
                <img src="../../assets/external/logos/Miami.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Washington.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/EMBL.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Queen-Mary.png">
              </div>
              <div class="small-white-triangle sticky-triangle"></div>
            </div>
          </div>
          <div class="category">
            <h3>
              <span>Data Analysis and Validation Centres</span>
            </h3>
            <div class="items white-box last">
              <div class="logo-item">
                <img src="../../assets/external/logos/Stanford.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Fred-Hutch.png">
              </div>
              <div class="logo-item">
                <img src="../../assets/external/logos/Jackson.png">
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="div-40">
      The MorPhiC programme aims to develop a consistent catalog of
      molecular and cellular phenotypes for null alleles for every human
      gene by using in-vitro multicellular systems. The catalog will be made
      available for broad use by the biomedical community. MorPhiC has three
      components: the Data Production Research and Development Centers
      (DPCs), the Data Analysis and Validation Centers (DAVs) and the Data
      Resource and Administrative Coordinating Center (DRACC).
    </div>
    <div class="div-41" id="funders">
      <div class="div-42">Funders</div>
      <div class="div-43">
        <a href="/about#top" (click)="scrollTo('funders')">
          ↑ Back to top
        </a>
      </div>
    </div>
    <div class="div-44">
      <div class="div-45">
        <div class="div-46">NIH Grant #1234567890</div>
        <div class="div-47">NIH Grant #1234567890</div>
        <div class="div-48">NIH Grant #1234567890</div>
        <div class="div-49">NIH Grant #1234567890</div>
      </div>
      <div class="div-50">
        <div class="div-51">Link to paper</div>
        <div class="div-52">Link to paper</div>
        <div class="div-53">Link to paper</div>
        <div class="div-54">Link to paper</div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>