.grid-component {
  overflow: hidden;
}

.grid-wrapper {
  display: flex;
  flex-direction: column;
  width: calc(100% - 325px);
  height: calc(100vh - 120px);
  float: left;
}

.grid-header {
  margin: 15px 8px;
}

.facet-wrapper {
  float: left;
  width: 300px;
  height: calc(100vh - 138px);
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  background: #f5f6f7;
  border-radius: 5px;
}
