<p>grid works!</p>


<!--<div class="facet-wrapper">-->
<!--  <h3>Filter</h3>-->
<!--  <div>Readout Assay</div>-->
<!--  <div>-->
<!--    <input type="text" value="scRNA-seq">-->
<!--  </div>-->
<!--</div>-->

<!--<div>-->
  <mat-form-field>
    <mat-label>Toppings</mat-label>
    <mat-select [formControl]="toppings" multiple>
      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
    </mat-select>
  </mat-form-field>
<!--</div>-->

<div class="example-wrapper">
  <div class="example-header">
    <span>Quick Filter:</span>
    <input
      type="text"
      id="filter-text-box"
      placeholder="Filter..."
      (input)="onFilterTextBoxChanged()"
    />
  </div>

  <ag-grid-angular
    style="width: 100%; height: 100vh;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [rowData]="rowData"
    [gridOptions]="gridOptions"
    [pagination]="true"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>

<!--  <ag-grid-angular-->
<!--    class="ag-theme-quartz"-->
<!--    style="height: 500px;"-->
<!--    [columnDefs]="colDefs1"-->
<!--    [rowData]="rowData1"-->
<!--  ></ag-grid-angular>-->
</div>
