<div class="grid-component">
  <div class="facet-wrapper">
    <h3>Filters</h3>
    <div *ngFor="let facet of facets">
      <app-facet [facet]="facet" (filterChangedEvent)="applyFilters($event)"></app-facet>
    </div>
  </div>

  <div class="grid-wrapper">
    <div class="grid-header">
      <div class="grid-header-title">Search Datasets: </div>
      <input type="text" id="filter-text-box" class="grid-header-input" placeholder="search by genes, cell lines, etc.." (input)="onFilterTextBoxChanged()"/>
      <div class="grid-header-options">
        <button class="grid-header-options-ctl" disabled>Columns</button>
        <button class="grid-header-options-ctl" disabled>Download</button>
      </div>
    </div>

    <ag-grid-angular
      style="width: 100%; height: 100vh;"
      class="ag-theme-alpine"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [gridOptions]="gridOptions"
      [pagination]="true"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>

  </div>
</div>
