<cdk-accordion class="example-accordion">
  @for (item of items; track item; let index = $index) {
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' + index"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' + index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        <img 
          src="/assets/external/polygon11571-ri2.svg"
          alt="Polygon11571"
          class="orange-polygon"
          [style.display]="accordionItem.expanded ? 'none' : ''"
        />
        <img 
          src="/assets/external/polygon21571-1aur.svg"
          alt="Polygon21571"
          class="orange-polygon"
          [style.display]="accordionItem.expanded ? '' : 'none'"
        />
        {{ item }}
        <span class="border"></span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-' + index"
        [attr.aria-labelledby]="'accordion-header-' + index">
        {{content[index]}}
      </div>
    </cdk-accordion-item>
  }
</cdk-accordion>

