
.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#myGrid {
  flex: 1 1 0px;
  width: 100%;
}

.detail-wrapper {
  width: 60%;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.detail-card {

  margin-bottom: 8px;
}
.card-subtitle {
}
