@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';
@import '@angular/material/theming';

html, body {
  //height: 100%;
}

.ag-theme-quartz {
  --ag-background-color: #F7F7F7;
  --ag-odd-row-background-color: #EBF2F3;
  --ag-row-border-style: none;
  --ag-font-family: Inter, "Helvetica Neue", sans-serif;
}

//.mat-drawer {
html {
  --mat-sidenav-container-background-color: #F7F7F7;
}

.ag-theme-quartz .ag-header-cell-text {
  text-transform: Uppercase;
}

body {
  font-family: Inter, "Helvetica Neue", sans-serif;
}
