$custom-primary-color: #1e1e1E;
$custom-primary-variant: #04989E;
$custom-accent: #E84E0F;

$grid-background-color: #F7F7F7;
$grid-odd-row-background-color: #EBF2F3;
$grid-header-text-transform: Uppercase;

// typography
$font: Inter;

