<app-header></app-header>
<div class="div-3">
  <div class="div-14">
    Molecular Phenotypes
    <br />
    of Null Alleles in Cells
  </div>
  <div class="div-15">
    A programme to better understand the function of every human gene
    and generate a catalogue of the molecular and cellular consequences
    of inactivating genes.
  </div>
  <div class="white-triangle-css"></div>
</div>
<div class="div-2">
  <div class="div-16">
    <div class="div-17">
      <div class="white-about-rectangle column">
        <div class="header-text">
          <p>gene list</p>
        </div>
        <img
          src="/assets/external/vector1572-e0qd.svg"
          alt="Vector1572"
          class="img-3"
        />
        <p class="sentance spacing">
          <span>Phase 1</span> will focus on 1,000 protein-coding genes, exploring different ways to
          knock out gene function.
        </p>
        <button class="home-button">
          <a href="{{gene_list_url}}" target="_blank">
            <span class="home-text041">
              <span>Study the gene list</span>
            </span>
          </a>
        </button>
      </div>
      <div class="white-about-rectangle left-space column">
        <div class="header-text">
          <p>study tracker</p>
        </div>
        <img
          src="/assets/external/vector1572-oa9.svg"
          alt="Vector1572"
          class="img-3"
        />
        <p class="sentance spacing">
          The Data Production Centres have planned studies on some of the
          essential genes, and they are coming <span>in 2024.</span>
        </p>
        <button class="home-button adjust-left">
          <a href="/study-tracker">
            <span class="home-text041">
              <span>Open the study tracker</span>
            </span>
          </a>
        </button>
      </div>
      <div class="white-about-rectangle left-space">
        <app-carousel></app-carousel>
      </div>
    </div>
  </div>
  <div class="div-30">About the MorPhiC Program</div>
  <div class="div-31">
    The MorPhiC programme aims to develop a consistent catalog of molecular
    and cellular phenotypes for null alleles for every human gene by using
    in-vitro multicellular systems. The catalog will be made available for
    broad use by the biomedical community. MorPhiC has three components: the
    Data Production Research and Development Centers (DPCs), the Data
    Analysis and Validation Centers (DAVs) and the Data Resource and
    Administrative Coordinating Center (DRACC).
  </div>
  <div class="div-32">Learn more about MorPhiC program goals →</div>
  <img
    loading="lazy"
    src="/assets/external/vector31575-rbp8.svg"
    class="img-7"
  />
</div>
<div class="div-33">
  <div class="div-34">
    <div class="div-35">
      <div class="column-4">
        <div class="div-36">
          <div class="div-37">Latest news</div>
          <img
            loading="lazy"
            src="/assets/external/ellipse21572-saf-200h.png"
            class="img-8"
          />
          <div class="div-38">3 december 2023</div>
          <div class="div-39">
            The Molecular Phenotypes of Null Alleles in Cells program
            seeks to identify the purpose behind every gene.
          </div>
        </div>
      </div>
      <div class="column-5">
        <div class="div-40">
          <img
            loading="lazy"
            src="/assets/external/ellipse31572-mj5c-200h.png"
            class="img-8"
          />
          <div class="div-41">3 december 2023</div>
          <div class="div-42">
            NIH initiative to systematically investigate and establish
            function of every human gene
          </div>
        </div>
      </div>
      <div class="column-6">
        <div class="div-43">
          <img
            loading="lazy"
            srcset="/assets/external/ellipse41572-5cll-200h.png"
            class="img-8"
          />
          <div class="div-44">3 december 2023</div>
          <div class="div-45">
            Identifying How Genes Function to Better Understand Cancer
            with Mazhar Adli, PhD
            <br />
          </div>
        </div>
      </div>
      <div class="column-7">
        <div class="div-43">
          <img
            loading="lazy"
            srcset="/assets/external/ellipse51572-6fwh-200h.png"
            class="img-8"
          />
          <div class="div-47">3 december 2023</div>
          <div class="div-48">
            Bioinformatics Team Powers International Effort to Map Gene
            Function
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-49">News archive →</div>
  <img
    loading="lazy"
    src="/assets/external/vector21571-gb.svg"
    class="img-12"
  />
</div>
<div class="div-50">
  <div class="div-51">
    <div class="div-52">Frequently asked questions</div>
    <div class="accordian-container">
      <cdk-accordion-overview-example></cdk-accordion-overview-example>
    </div>
  </div>
</div>
<div class="div-67">
  <img
    loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/1edba7b604322d9cce726c5a800b43a4b18532d1a12c697b8ab3d3351c8935dd?"
    class="img-17"
  />
  <div class="div-68">
    <img
      loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/2e969fa5160a7126afb13b7a9e8d704eb0d419c62bedccfdfe3277eec08f0daf?"
      class="img-18"
    />
    <div class="div-69">
      <div class="div-70">home</div>
      <div class="div-71">About</div>
      <div class="div-72">Data</div>
      <div class="div-73">Gene list</div>
      <div class="div-74">FAQ</div>
      <div class="div-75">Contact us</div>
    </div>
    <div class="div-76">Licenses</div>
    <div class="div-77">
      The MorPhiC programme programme aims to develop a consistent catalog
      of molecular and cellular phenotypes for null alleles for every
      human gene by using in-vitro multicellular systems. The catalog will
      be made available for broad use by the biomedical community. The
      MorPhiC nullprogramme aims to develop a consistent catalog of
      molecular and cellular phenotypes for null alleles for every human
      gene by using in-vitro multicellular systems. The catalog will be
      made available for broad null use by the biomedical community. The
      MorPhiC programme aims to develop a consistent catalog of molecular
      and cellular phenotypes for null alleles for every human gene by
      using in-vitro multicellular systems. The catalog will be made
      available for broad use by the biomedical community.
    </div>
    <div class="div-78">
      <div class="div-79">
        Molecular Phenotypes of Null Alleles in Cells
      </div>
      <div class="div-80">
        <div class="div-81">Photo by Sangharsh Lohakare on Unsplash.</div>
        <div class="div-82">2023 MorPhiC. All rights reserved.</div>
      </div>
    </div>
  </div>
</div>