<div class="home-container">
  <div class="home-home">
    <div class="home-group14">
      <span class="home-text"><span>Licenses</span></span>
      <span class="home-text002">
        <span>
          The MorPhiC programme programme aims to develop a consistent catalog
          of molecular and cellular phenotypes for null alleles for every human
          gene by using in-vitro multicellular systems. The catalog will be made
          available for broad use by the biomedical community. The MorPhiC
          nullprogramme aims to develop a consistent catalog of molecular and
          cellular phenotypes for null alleles for every human gene by using
          in-vitro multicellular systems. The catalog will be made available for
          broad null use by the biomedical community. The MorPhiC programme aims
          to develop a consistent catalog of molecular and cellular phenotypes
          for null alleles for every human gene by using in-vitro multicellular
          systems. The catalog will be made available for broad use by the
          biomedical community.
        </span>
      </span>
      <span class="home-text004">
        <span>Molecular Phenotypes of Null Alleles in Cells</span>
      </span>
      <span class="home-text006">
        <span>2023 MorPhiC. All rights reserved.</span>
      </span>
      <div class="home-group7">
        <div class="home-group16">
          <span class="home-text008"><span>Home</span></span>
          <a href="/data-catalogue">
            <span class="home-text010"><span>Data Catalogue</span></span>
          </a>
          <!-- <span class="home-text012"><span>Gene list</span></span> -->
          <span class="home-text014"><span>FAQ</span></span>
          <span class="home-text016"><span>Contact us</span></span>
          <span class="home-text018"><span>About</span></span>
        </div>
      </div>
    </div>
    <img
      src="/assets/external/sangharshlohakare8olkmpo8ugunsplash11571-51ur-800h.png"
      alt="sangharshlohakare8oLkMpo8ugunsplash11571"
      class="home-sangharshlohakare8o-lk-mpo8ugunsplash1"
    />
    <!-- <div class="right-ang-triangle"></div> -->
    <img class="white-triangle" src="/assets/external/white-triangle.svg" alt="Vector21571" />
    <img
      src="/assets/external/rectangle11571-vc0i-600h.png"
      alt="Rectangle11571"
      class="home-rectangle1"
    />
    <span class="home-text020">
      <span>
        A programme to better understand the function of every human gene and
        generate a catalogue of the molecular and cellular consequences of
        inactivating genes.
      </span>
    </span>
    <img
      src="/assets/external/rectangle61575-zil-700h.png"
      alt="Rectangle61575"
      class="home-rectangle6"
    />
    <span class="home-text022"><span>3 december 2023</span></span>
    <span class="home-text024"><span>3 december 2023</span></span>
    <span class="home-text026"><span>3 december 2023</span></span>
    <span class="home-text028"><span>3 december 2023</span></span>
    <span class="home-text030">
      <span>
        The Molecular Phenotypes of Null Alleles in Cells program seeks to
        identify the purpose behind every gene.
      </span>
    </span>
    <span class="home-text032">
      <span>
        NIH initiative to systematically investigate and establish function of
        every human gene
      </span>
    </span>
    <span class="home-text034">
      <span>
        <span>
          Identifying How Genes Function to Better Understand Cancer with Mazhar
          Adli, PhD
        </span>
        <br />
        <span></span>
      </span>
    </span>
    <span class="home-text039">
      <span>
        Bioinformatics Team Powers International Effort to Map Gene Function
      </span>
    </span>
    <img
      src="/assets/external/ellipse21572-saf-200h.png"
      alt="Ellipse21572"
      class="home-ellipse2"
    />
    <img
      src="/assets/external/ellipse31572-mj5c-200h.png"
      alt="Ellipse31572"
      class="home-ellipse3"
    />
    <img
      src="/assets/external/ellipse41572-5cll-200h.png"
      alt="Ellipse41572"
      class="home-ellipse4"
    />
    <img
      src="/assets/external/ellipse51572-6fwh-200h.png"
      alt="Ellipse51572"
      class="home-ellipse5"
    />
    <img src="/assets/external/vector11575-bvic.svg" alt="Vector11575" />
    <div class="home-group11">
      <img
        src="/assets/external/rectangle21571-vj6a-400w.png"
        alt="Rectangle21571"
        class="home-rectangle2"
      />
      <img
        src="/assets/external/vector1572-e0qd.svg"
        alt="Vector1572"
        class="home-vector"
      />
      <button class="home-button">
        <span class="home-text041">
          <span>Study the gene list</span>
        </span>
      </button>
      <img
        src="/assets/external/rectangle31572-gs8s-400w.png"
        alt="Rectangle31572"
        class="home-rectangle3"
      />
      <img
        src="/assets/external/rectangle41572-9mhh-400w.png"
        alt="Rectangle41572"
        class="home-rectangle4"
      />
      <img
        src="/assets/external/jacksonlaboratorylogo11572-ue2i-200h.png"
        alt="JacksonLaboratoryLogo11572"
        class="home-jackson-laboratory-logo1"
      />
      <span class="home-text043">
        <span>The Jackson Laboratory</span>
      </span>
      <span class="home-text045"><span>gene list</span></span>
      <span class="home-text047">
        <span class="home-text048">
          Phase 1
          <span [innerHTML]="raw9tgq"></span>
        </span>
        <span>
          will focus on 1,000 protein-coding genes, exploring different ways to
          knock out gene function.
        </span>
      </span>
      <span class="home-text050">
        <span class="home-text051">
          The Data Production Centres have planned studies on some of the
          essential genes, and they are coming in 2024.
          <span [innerHTML]="rawhipw"></span>
        </span>
      </span>
      <img
        src="/assets/external/vector1572-oa9.svg"
        alt="Vector1572"
        class="home-vector1"
      />
      <span class="home-text053"><span>data tracker</span></span>
      <span class="home-text055"><span>participants</span></span>
      <div class="home-component2">
        <span class="home-text057">
          <span>Open the data tracker</span>
        </span>
      </div>
      <div class="home-component3">
        <span class="home-text059">
          <span>See who’s involved</span>
        </span>
      </div>
    </div>
    <img
      src="/assets/external/vector31575-rbp8.svg"
      alt="Vector31575"
      class="home-vector3"
    />
    <span class="home-text061"><span>HOME</span></span>
    <a href="/data-catalogue">
      <span class="home-text063">
        <span>DATA CATALOGUE</span>
      </span>
    </a>
    <!-- <span class="home-text065"><span>Genes studied</span></span> -->
    <span class="home-text067"><span>FAQ</span></span>
    <span class="home-text069"><span>CONTACT US</span></span>
    <span class="home-text071">
      <span>
        <span>Molecular Phenotypes of Null Alleles in Cells</span>
        <!-- <span></span> -->
      </span>
    </span>
    <span class="home-text076">
      <span>About the MorPhiC Program</span>
    </span>
    <span class="home-text078"><span>Latest news</span></span>
    <span class="home-text080">
      <span>
        The MorPhiC programme aims to develop a consistent catalog of molecular
        and cellular phenotypes for null alleles for every human gene by using
        in-vitro multicellular systems. The catalog will be made available for
        broad use by the biomedical community. MorPhiC has three components: the
        Data Production Research and Development Centers (DPCs), the Data
        Analysis and Validation Centers (DAVs) and the Data Resource and
        Administrative Coordinating Center (DRACC).
      </span>
    </span>
    <img
      src="/assets/external/ellipse11577-h82-200h.png"
      alt="Ellipse11577"
      class="home-ellipse1"
    />
    <img
      src="/assets/external/ellipse61572-5zfc-200h.png"
      alt="Ellipse61572"
      class="home-ellipse6"
    />
    <span class="home-text082"><span>ABOUT</span></span>
    <span class="home-text084">
      <span>Learn more about MorPhiC program goals →</span>
    </span>
    <span class="home-text086"><span>News archive →</span></span>
    <img class="black-triangle" src="/assets/external/vector21571-gb.svg" alt="Vector21571" />
    <div class="home-vector4"></div>
    <img
      src="/assets/external/rectangle51571-lrw-700h.png"
      alt="Rectangle51571"
      class="home-rectangle5"
    />
    <div class="home-group15">
      <span class="home-text088">
        <span>Frequently asked questions</span>
      </span>
      <span class="home-text090">
        <span>Why was this gene list chosen?</span>
      </span>
      <span class="home-text092">
        <span>
          Do you accept data on these genes from external contributors?
        </span>
      </span>
      <span class="home-text094">
        <span>What is a null allele?</span>
      </span>
      <img
        src="/assets/external/polygon11571-ri2.svg"
        alt="Polygon11571"
        class="home-polygon1"
      />
      <img
        src="/assets/external/polygon31571-g8vi.svg"
        alt="Polygon31571"
        class="home-polygon3"
      />
      <img
        src="/assets/external/polygon41571-tgz9.svg"
        alt="Polygon41571"
        class="home-polygon4"
      />
      <span class="home-text096">
        <span>Which cell lines have been chosen for studies?</span>
      </span>
      <img
        src="/assets/external/polygon21571-1aur.svg"
        alt="Polygon21571"
        class="home-polygon2"
      />
      <span class="home-text098">
        <span>
          The MorPhiC programme aims to develop a consistent catalog of
          molecular and cellular phenotypes for null alleles for every human
          gene by using in-vitro multicellular systems. The catalog will be made
          available for broad use by the biomedical community.
        </span>
      </span>
      <img
        src="/assets/external/line11571-h9ce.svg"
        alt="Line11571"
        class="home-line1"
      />
      <img
        src="/assets/external/line21571-vqbl.svg"
        alt="Line21571"
        class="home-line2"
      />
      <img
        src="/assets/external/line31571-u4kn.svg"
        alt="Line31571"
        class="home-line3"
      />
      <img
        src="/assets/external/line41571-nqx.svg"
        alt="Line41571"
        class="home-line4"
      />
    </div>
    <img
      src="/assets/external/vector1571-21gu.svg"
      alt="Vector1571"
      class="home-vector2"
    />
  </div>
</div>
