<div class="home-container">
  <div class="home-home">
    <div class="home-group14">
      <span class="home-text"><span>Licenses</span></span>
      <span class="home-text002">
        <span>
          The MorPhiC programme programme aims to develop a consistent catalog
          of molecular and cellular phenotypes for null alleles for every human
          gene by using in-vitro multicellular systems. The catalog will be made
          available for broad use by the biomedical community. The MorPhiC
          nullprogramme aims to develop a consistent catalog of molecular and
          cellular phenotypes for null alleles for every human gene by using
          in-vitro multicellular systems. The catalog will be made available for
          broad null use by the biomedical community. The MorPhiC programme aims
          to develop a consistent catalog of molecular and cellular phenotypes
          for null alleles for every human gene by using in-vitro multicellular
          systems. The catalog will be made available for broad use by the
          biomedical community.
        </span>
      </span>
      <div class="bg-photo-credit">
        Photo by Sangharsh Lohakare on Unsplash.
      </div>
      <span class="home-text004">
        <span>Molecular Phenotypes of Null Alleles in Cells</span>
      </span>
      <span class="home-text006">
        <span>2023 MorPhiC. All rights reserved.</span>
      </span>
      <div class="footer-logo-container">
        <img src="../../assets/external/logos/footer-logo.png" alt="Logo" class="footer-logo">
      </div>
      <div class="home-group7">
        <div class="home-group16">
          <span class="home-text008"><span>Home</span></span>
          <a href="/data-catalogue">
            <span class="home-text010"><span>Data Tracker</span></span>
          </a>
          <a href="{{gene_list_url}}" target="_blank">
            <span class="home-text012"><span>Gene list</span></span>
          </a>
          <span>
            <a href="#faq" (click)="scrollTo('faq')" class="home-text014">
              <span>FAQ</span>
            </a>
          </span>
          <span class="home-text016"><span>Contact us</span></span>
          <span class="home-text018"><span>About</span></span>
        </div>
      </div>
    </div>
    <img
      src="/assets/external/sangharshlohakare8olkmpo8ugunsplash11571-51ur-800h.png"
      alt="sangharshlohakare8oLkMpo8ugunsplash11571"
      class="home-sangharshlohakare8o-lk-mpo8ugunsplash1"
    />
    <!-- <div class="right-ang-triangle"></div> -->
    <img class="white-triangle" src="/assets/external/white-triangle.svg" alt="Vector21571" />
    <img
      src="/assets/external/rectangle11571-vc0i-600h.png"
      alt="Rectangle11571"
      class="home-rectangle1"
    />
    <span class="home-text020">
      <span>
        A programme to better understand the function of every human gene and
        generate a catalogue of the molecular and cellular consequences of
        inactivating genes.
      </span>
    </span>
    <img
      src="/assets/external/rectangle61575-zil-700h.png"
      alt="Rectangle61575"
      class="home-rectangle6"
    />
    <span class="home-text022"><span>3 december 2023</span></span>
    <span class="home-text024"><span>3 december 2023</span></span>
    <span class="home-text026"><span>3 december 2023</span></span>
    <span class="home-text028"><span>3 december 2023</span></span>
    <span class="home-text030">
      <span>
        The Molecular Phenotypes of Null Alleles in Cells program seeks to
        identify the purpose behind every gene.
      </span>
    </span>
    <span class="home-text032">
      <span>
        NIH initiative to systematically investigate and establish function of
        every human gene
      </span>
    </span>
    <span class="home-text034">
      <span>
        <span>
          Identifying How Genes Function to Better Understand Cancer with Mazhar
          Adli, PhD
        </span>
        <br />
        <span></span>
      </span>
    </span>
    <span class="home-text039">
      <span>
        Bioinformatics Team Powers International Effort to Map Gene Function
      </span>
    </span>
    <img
      src="/assets/external/ellipse21572-saf-200h.png"
      alt="Ellipse21572"
      class="home-ellipse2"
    />
    <img
      src="/assets/external/ellipse31572-mj5c-200h.png"
      alt="Ellipse31572"
      class="home-ellipse3"
    />
    <img
      src="/assets/external/ellipse41572-5cll-200h.png"
      alt="Ellipse41572"
      class="home-ellipse4"
    />
    <img
      src="/assets/external/ellipse51572-6fwh-200h.png"
      alt="Ellipse51572"
      class="home-ellipse5"
    />
    <img src="/assets/external/vector11575-bvic.svg" alt="Vector11575" />
    <div class="home-group11">
      <div class="white-about-rectangle">
        <div class="header-text">
          <p>gene list</p>
        </div>
        <img
          src="/assets/external/vector1572-e0qd.svg"
          alt="Vector1572"
          class="home-vector"
        />
        <p class="sentance spacing">
          <span>Phase 1</span> will focus on 1,000 protein-coding genes, exploring different ways to
          knock out gene function.
        </p>
        <button class="home-button">
          <a href="{{gene_list_url}}" target="_blank">
            <span class="home-text041">
              <span>Study the gene list</span>
            </span>
          </a>
        </button>
      </div>
      <div class="white-about-rectangle left-space">
        <div class="header-text">
          <p>data tracker</p>
        </div>
        <img
          src="/assets/external/vector1572-oa9.svg"
          alt="Vector1572"
          class="home-vector1"
        />
        <p class="sentance spacing">
          The Data Production Centres have planned studies on some of the
          essential genes, and they are coming <span>in 2024.</span>
        </p>
        <button class="home-button adjust-left">
          <a href="/data-catalogue">
            <span class="home-text041">
              <span>Open the data tracker</span>
            </span>
          </a>
        </button>
      </div>
      <div class="white-about-rectangle left-space">
        <app-carousel></app-carousel>
      </div>
    </div>
    <img
      src="/assets/external/vector31575-rbp8.svg"
      alt="Vector31575"
      class="home-vector3"
    />
    <span class="home-text061"><span>Home</span></span>
    <a href="/data-catalogue">
      <span class="home-text063">
        <span>Data Tracker</span>
      </span>  
    </a>
    <a href="{{gene_list_url}}" target="_blank">
      <span class="home-text065">Gene List</span>
    </a>
    <span>
      <a href="#faq" (click)="scrollTo('faq')" class="home-text067">
        <span>FAQ</span>
      </a>
    </span>
    <span class="home-text069"><span>Contact Us</span></span>
    <span class="home-text071">
      <span>
        <span>Molecular Phenotypes of Null Alleles in Cells</span>
        <!-- <span></span> -->
      </span>
    </span>
    <span class="home-text076">
      <span>About the MorPhiC Program</span>
    </span>
    <span class="home-text078"><span>Latest news</span></span>
    <span class="home-text080">
      <span>
        The MorPhiC programme aims to develop a consistent catalog of molecular
        and cellular phenotypes for null alleles for every human gene by using
        in-vitro multicellular systems. The catalog will be made available for
        broad use by the biomedical community. MorPhiC has three components: the
        Data Production Research and Development Centers (DPCs), the Data
        Analysis and Validation Centers (DAVs) and the Data Resource and
        Administrative Coordinating Center (DRACC).
      </span>
    </span>
    <img
      src="/assets/external/ellipse11577-h82-200h.png"
      alt="Ellipse11577"
      class="orange-circle"
    />
    <img
      src="/assets/external/ellipse61572-5zfc-200h.png"
      alt="Ellipse61572"
      class="white-circle"
    />
    <span class="home-text082"><span>ABOUT</span></span>
    <span class="home-text084">
      <span>Learn more about MorPhiC program goals →</span>
    </span>
    <span class="home-text086"><span>News archive →</span></span>
    <img class="black-triangle" src="/assets/external/vector21571-gb.svg" alt="Vector21571" />
    <div class="home-vector4"></div>
    <img
      src="/assets/external/rectangle51571-lrw-700h.png"
      alt="Rectangle51571"
      class="home-rectangle5"
    />
    <div class="home-group15" id="faq">
      <span class="home-text088">
        <span>Frequently asked questions</span>
      </span>
      <div class="accordian-container">
        <cdk-accordion-overview-example></cdk-accordion-overview-example>
      </div>
    </div>
    <img
      src="/assets/external/vector1571-21gu.svg"
      alt="Vector1571"
      class="home-vector2"
    />
  </div><!-- home -->
</div><!-- home-container -->
